Has the network latency gone up since we switched internet service providers?
* null hyptohesis = Internet service has no impact on network latency
* alternative hypothesis = Newtork latency has gone up since switching internet service providers
* True positive = alpha > p value and we establish that internet service does impact network latency
* True negavite = alpha < p and we establish that internet service has no impact on network latency
* Type 1 error: we reject that internet service has no impact on network latency but the truth is there is no impact
* Type 2 error: we don't reject that internet service has no impact on network latecny but there is significant impact

$H_{0}$

Is the website redesign any good?

* null hyptohesis = the website redisign has had no impact on sales
* alternative hypothesis = the webstite redesign has increased sales
* True positive = alpha > p and we establish that the website redesign has increased sales
* True negavite = alpha < p and we establish that the website redesign has had no impact sales
* Type 1 error: we reject that the website redesing has not increased sales but the truth is there is no impact
* Type 2 error: we don't reject that website redesign has had no impact on sales but there has been significant impact

Is our television ad driving more sales?

* null hyptohesis = the television ad has not impacted sales
* alternative hypothesis = the television ad has increased sales
* True positive = alpha > p and we establish that the television ad has increased sales
* True negavite = alpha < p and we establish that the television ad has had no impact sales
* Type 1 error: we reject the null that television ad has not impacted sales bu the truth is there is no impact
* Type 2 error: we don't reject the null that the television ad has had no impact on sales but there has been significant impact

In [2]:
from math import sqrt
from scipy import stats
from pydataset import data

%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [181]:
# Ace Realty wants to determine whether the average time it takes to sell homes is different for its two offices. A sample of 40 sales from office #1 revealed a mean of 90 days and a standard deviation of 15 days. A sample of 50 sales from office #2 revealed a mean of 100 days and a standard deviation of 20 days. Use a .05 level of significance.

    # null = location has no impact on avg home sales time
    # alternative = site a sells houses faster than site b

    # Independent Samples. yes, two separate sample sets

    # Normal Distribution: greater than 30 observations so plenty to meet CLM 

    # Equal Variances:  variances of 219 & 393 not equal

a_mean = 90
a_stddev = 15
b_mean = 100
b_stddev = 20
alpha = 0.05

sitea = np.random.normal(a_mean, a_stddev, 40)
siteb = np.random.normal(b_mean, b_stddev, 50)

sitea.var(), siteb.var()


t, p = stats.ttest_ind(sitea, siteb, equal_var= False)

In [182]:
t, p, alpha

(-3.43464158242499, 0.0009084843336770494, 0.05)

In [47]:
print("is p < alpha? ", p < alpha)
print("is t < 0? ", t < 0)

is p < alpha?  True
is t < 0?  True

In [ ]:
# Load the mpg dataset and use it to answer the following questions:

# Is there a difference in fuel-efficiency in cars from 2008 vs 1999?
# Are compact cars more fuel-efficient than the average car?
# # Do manual cars get better gas mileage than automatic cars?

In [27]:
mpg = data('mpg')
mpg

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [73]:
avg_mpg = (mpg['cty'] + mpg['hwy'])/2
eight_fuel = (mpg.year == 2008)
x = mpg[eight_fuel]
nine_fuel = (mpg.year == 1999)
y = mpg[nine_fuel]
y

  manufacturer model  displ  year  cyl       trans drv  cty  hwy fl    class
1         audi    a4    1.8  1999    4    auto(l5)   f   18   29  p  compact
2         audi    a4    1.8  1999    4  manual(m5)   f   21   29  p  compact

null_hypothesis = there is no difference in fuel efficiency between the 1999 & 2008

In [97]:
mpg["avg_mpg"] = (mpg.cty + mpg.hwy)/2
avg_08 = mpg[mpg.year == 2008].avg_mpg
avg_99 = mpg[mpg.year == 1999].avg_mpg

In [98]:
# Variance:  Similar
avg_08.var(), avg_99.var()

(24.097480106100797, 27.122605363984682)

In [104]:
# Is there a difference in fuel-efficiency in cars from 2008 vs 1999?  No

t, p = stats.ttest_ind(avg_08, avg_99)

t, p, alpha

(-0.21960177245940962, 0.8263744040323578, 0.05)

In [131]:
# Are compact cars more fuel-efficient than the average car?
mpg["avg_mpg"] = (mpg.cty + mpg.hwy)/2
mpg["avg_mpg"] = (mpg.cty + mpg.hwy)/2
compact = mpg[mpg["class"] == 'compact'].avg_mpg
carpop = mpg["avg_mpg"].mean()

In [125]:
compact.var(), carpop.var()
# 12.4 & 25.5 not the same

(12.442876965772433, 25.50542900113715)

In [132]:

t, p = stats.ttest_1samp(compact, carpop)

t, p/2, alpha

(7.896888573132535, 2.0992818971585668e-10, 0.05)

In [169]:
# Do manual cars get better gas mileage than automatic cars?

mpg["avg_mpg"] = (mpg.cty + mpg.hwy)/2
mpg['auto'] = mpg[mpg['trans'].str.startswith('a')].avg_mpg
mpg['manual'] = mpg[mpg['trans'].str.startswith('m')].avg_mpg
auto = mpg[mpg["a or m"] == 'auto'].avg_mpg
manual = mpg[mpg["a or m"] == 'manual'].avg_mpg

In [171]:
auto.var(), manual.var()

(21.942777233382337, 26.635167464114826)

In [176]:
t, p = stats.ttest_ind(manual, auto, equal_var=False)
t, p, alpha

(4.443514012903071, 1.795224899991793e-05, 0.05)

In [275]:
# Use the telco_churn data. Does tenure correlate with monthly charges? Total charges? What happens if you control for phone and internet service?

df = pd.read_csv('Cust_Churn_Telco.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [278]:
df['TotalCharges'] = pd.to_numeric(df['TotalCharges'], errors='coerce')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7032 non-null   float64
 20  Churn             7043 non-null   object
dtypes: float64(2), int64(2), object(17)
memory usage: 1.1+ MB

In [296]:
# Does tenure correlate with monthly charges?
# null_hypothesis: Tenure does not correlate with monthly charges
# alt_hypothesis: Tenure does correlate with monthly charges?
# 0.2478% r score suggests a small correlation and a p score < .01 suggests we can reject the null hypothesis

x = df.tenure
y = df.MonthlyCharges
r, p = stats.pearsonr(x, y)
r, p

(0.2478998562861525, 4.094044991483017e-99)

In [294]:
#  Does tenure correlate with Total charges?
# null_hypothesis: Tenure does not correlate with total charges
# alt_hypothesis: Tenure does correlate with total charges?
# 0.82% r score suggests a large correlation and a p score < .00 suggests we can reject the null hypothesis

x = df.tenure
y = df.TotalCharges.fillna(0)
r, p = stats.pearsonr(x, y)
r, p

(0.8261783979502477, 0.0)

In [314]:
# What happens if you control for phone and internet service?
# Monthly Charges & PhoneService = Yes: r = 0.245 & p =7.11-88.  
x = df['tenure'][df['PhoneService'] == "Yes"]
y = df['MonthlyCharges'][df['PhoneService'] == "Yes"]
r, p = stats.pearsonr(x, y)
r, p

(0.2453889858536324, 7.117871077925186e-88)

In [315]:
# Monthly Charges & PhoneService = No: r = 0.585 & p =4.60-64. 
x = df['tenure'][df['PhoneService'] != "Yes"]
y = df['MonthlyCharges'][df['PhoneService'] != "Yes"]
r, p = stats.pearsonr(x, y)
r, p

(0.5857597986661375, 4.6033703473404816e-64)

# When controlling for PhoneService, tenure impacts MonthlyCharges much more when client does not subscribe to Phone Services.

In [318]:

# Monthly Charges & Internet Service = Yes: r = 0.373 & p =5.85-181.  
x = df['tenure'][df['InternetService'] != "No"]
y = df['MonthlyCharges'][df['InternetService'] != "No"]
r, p = stats.pearsonr(x, y)
r, p

(0.37230662631986955, 5.89096358049607e-181)

In [319]:
# Monthly Charges & Internet Service = No: r = 0.343 & p =3.35-43.  
x = df['tenure'][df['InternetService'] == "No"]
y = df['MonthlyCharges'][df['InternetService'] == "No"]
r, p = stats.pearsonr(x, y)
r, p

(0.34232562306194547, 3.3561869551954843e-43)

# When controlling for Internet Service, tenure does impact MonthlyCharges but the impact is similar whether or not they are an Internet subscriber.

In [4]:
# Use the employees database.
# Is there a relationship between how long an employee has been with the company and their salary?
# # Is there a relationship between how long an employee has been with the company and the number of titles they have had?

import pandas as pd 
import numpy as np
from datetime import date
from env import host, username, password

def get_db_url(host, username, password, database):
    url = f'mysql+pymysql://{username}:{password}@{host}/{database}'
    return url

url = get_db_url(host, username, password, 'employees')

In [5]:
salaries = pd.read_sql('select * from salaries', url)

In [6]:
employees = pd.read_sql('select * from employees', url)

In [7]:
titles = pd.read_sql('select * from titles', url)

In [17]:
# Is there a relationship between how long an employee has been with the company and their salary?

sal_emp = salaries.merge(employees, on='emp_no', how='inner')
sal_emp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2844047 entries, 0 to 2844046
Data columns (total 9 columns):
 #   Column      Dtype
---  ------      -----
 0   emp_no      int64
 1   salary      int64
 2   from_date   object
 3   to_date     object
 4   birth_date  object
 5   first_name  object
 6   last_name   object
 7   gender      object
 8   hire_date   object
dtypes: int64(2), object(7)
memory usage: 217.0+ MB

In [34]:
sal_emp['to_date'] = sal_emp['to_date'].astype('|S')
sal_emp['to_date'] = sal_emp['to_date'].str.decode('utf-8')
sal_emp['to_date'] = sal_emp['to_date'].str.replace('9999-01-01', '2021-05-11')

'2021-05-11'

In [12]:
= sal_emp['to_date'].str.replace('9999-01-01', '2021-05-11')

0     0          0          0          1987-06-26\n1...
1     0          0          0          1987-06-26\n1...
2     0          0          0          1987-06-26\n1...
3     0          0          0          1987-06-26\n1...
4     0          0          0          1987-06-26\n1...
                            ...
95    0          0          0          1987-06-26\n1...
96    0          0          0          1987-06-26\n1...
97    0          0          0          1987-06-26\n1...
98    0          0          0          1987-06-26\n1...
99    0          0          0          1987-06-26\n1...
Name: to_date, Length: 100, dtype: object

In [ ]:
salaries_df['to_date']= salaries_df['to_date'].replace(to_replace = salaries_df["to_date"].max(), value =date.today())

In [116]:
salary_title_df['to_date'].where('9999-01-01', '2021-05-11')

ValueError: Array conditional must be same shape as self

In [110]:
salary_title_df

,emp_no,birth_date,first_name,last_name,gender,hire_date,emp_no,salary,from_date,to_date,tenure
0,10001,1953-09-02,Georgi,Facello,M,1986-06-26,10001,60117,1986-06-26,1987-06-26,0 days
1,10001,1953-09-02,Georgi,Facello,M,1986-06-26,10001,62102,1987-06-26,1988-06-25,0 days
2,10001,1953-09-02,Georgi,Facello,M,1986-06-26,10001,66074,1988-06-25,1989-06-25,0 days
3,10001,1953-09-02,Georgi,Facello,M,1986-06-26,10001,66596,1989-06-25,1990-06-25,0 days
4,10001,1953-09-02,Georgi,Facello,M,1986-06-26,10001,66961,1990-06-25,1991-06-25,0 days
...,...,...,...,...,...,...,...,...,...,...,...
2844042,499999,1958-05-01,Sachin,Tsukuda,M,1997-11-30,499999,63707,1997-11-30,1998-11-30,0 days
2844043,499999,1958-05-01,Sachin,Tsukuda,M,1997-11-30,499999,67043,1998-11-30,1999-11-30,0 days
2844044,499999,1958-05-01,Sachin,Tsukuda,M,1997-11-30,499999,70745,1999-11-30,2000-11-29,0 days
2844045,499999,1958-05-01,Sachin,Tsukuda,M,1997-11-30,499999,74327,2000-11-29,2001-11-29,0 days
2844046,499999,1958-05-01,Sachin,Tsukuda,M,1997-11-30,499999,77303,2001-11-29,9999-01-01,0 days

In [ ]:
salaries_df['to_date']= salaries_df['to_date'].replace(to_replace = salaries_df["to_date"].max(), value =date.today())