Has the network latency gone up since we switched internet service providers?
* null hyptohesis = Internet service has no impact on network latency
* alternative hypothesis = Newtork latency has gone up since switching internet service providers
* True positive = alpha > p value and we establish that internet service does impact network latency
* True negavite = alpha < p and we establish that internet service has no impact on network latency
* Type 1 error: we reject that internet service has no impact on network latency but the truth is there is no impact
* Type 2 error: we don't reject that internet service has no impact on network latecny but there is significant impact

$H_{0}$

Is the website redesign any good?

* null hyptohesis = the website redisign has had no impact on sales
* alternative hypothesis = the webstite redesign has increased sales
* True positive = alpha > p and we establish that the website redesign has increased sales
* True negavite = alpha < p and we establish that the website redesign has had no impact sales
* Type 1 error: we reject that the website redesing has not increased sales but the truth is there is no impact
* Type 2 error: we don't reject that website redesign has had no impact on sales but there has been significant impact

Is our television ad driving more sales?

* null hyptohesis = the television ad has not impacted sales
* alternative hypothesis = the television ad has increased sales
* True positive = alpha > p and we establish that the television ad has increased sales
* True negavite = alpha < p and we establish that the television ad has had no impact sales
* Type 1 error: we reject the null that television ad has not impacted sales bu the truth is there is no impact
* Type 2 error: we don't reject the null that the television ad has had no impact on sales but there has been significant impact

In [24]:
from math import sqrt
from scipy import stats
from pydataset import data

%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [44]:
# Ace Realty wants to determine whether the average time it takes to sell homes is different for its two offices. A sample of 40 sales from office #1 revealed a mean of 90 days and a standard deviation of 15 days. A sample of 50 sales from office #2 revealed a mean of 100 days and a standard deviation of 20 days. Use a .05 level of significance.

    # null = location has no impact on avg home sales time
    # alternative = site a sells houses faster than site b

    # Independent Samples. yes, two separate sample sets

    # Normal Distribution: greater than 30 observations so plenty to meet CLM 

    # Equal Variances:  variances of 219 & 393 not equal

a_mean = 90
a_stddev = 15
b_mean = 100
b_stddev = 20
alpha = 0.05

sitea = np.random.normal(a_mean, a_stddev, 10000)
siteb = np.random.normal(b_mean, b_stddev, 10000)

sitea.var(), siteb.var()


t, p = stats.ttest_ind(sitea, siteb, equal_var= False)

In [19]:
t, p, alpha

(-38.34749404793473, 1.04115325955856e-309, 0.05)

In [47]:
print("is p < alpha? ", p < alpha)
print("is t < 0? ", t < 0)

is p < alpha?  True
is t < 0?  True

In [ ]:
# Load the mpg dataset and use it to answer the following questions:

# Is there a difference in fuel-efficiency in cars from 2008 vs 1999?
# Are compact cars more fuel-efficient than the average car?
# # Do manual cars get better gas mileage than automatic cars?

In [27]:
mpg = data('mpg')
mpg

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [43]:
avg_mpg = (mpg['cty'] + mpg['hwy'])/2
eight_fuel = (mpg['year'] == 2008)

AttributeError: 'Series' object has no attribute 'mpg'

1      False
2      False
3       True
4       True
5      False
       ...
230     True
231     True
232    False
233    False
234     True
Name: year, Length: 234, dtype: bool