In [3]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from scipy import stats

# A bank found that the average number of cars waiting during the noon hour at a drive-up window follows a Poisson distribution with a mean of 2 cars. Make a chart of this distribution and answer these questions concerning the probability of cars waiting at the drive-up window.

# What is the probability that no cars drive up in the noon hour?

stats.poisson(2).pmf(0)

0.1353352832366127

In [34]:
# What is the probability that 3 or more cars come through the drive through?
stats.poisson(2).sf(2)

0.32332358381693654

In [35]:
# How likely is it that the drive through gets at least 1 car?
stats.poisson(2).sf(0)

0.8646647167633873

In [41]:
# Grades of State University graduates are normally distributed with a mean of 3.0 and a standard deviation of .3. Calculate the following:

# What grade point average is required to be in the top 5% of the graduating class?

mean = 3
std_dev = .3

# Use Scripy Stats module to generte a dist:
stats.norm(mean, std_dev)

# use apporpriate method to predict probability
stats.norm(mean, std_dev).isf(.05)

3.4934560880854417

In [40]:
# What GPA constitutes the bottom 15% of the class?
mean = 3
std_dev = .3

stats.norm(mean, std_dev).ppf(.15)

2.689069983151863

In [56]:
# An eccentric alumnus left scholarship money for students in the third decile from the bottom of their class. Determine the range of the third decile. Would a student with a 2.8 grade point average qualify for this scholarship?
mean = 3
std_dev = .3
three_dec = stats.norm(mean, std_dev).ppf(.3)
four_dec = stats.norm(mean, std_dev).ppf(.4)

three_dec
# 2.84267 
four_dec
# 2.9239
# a 2.8 grade point avg would not qualify

2.9239958690592602

In [57]:
# If I have a GPA of 3.5, what percentile am I in?
mean = 3
std_dev = .3
stats.norm(mean, std_dev).cdf(3.5)

0.9522096477271853

In [6]:
# A marketing website has an average click-through rate of 2%. One day they observe 4326 visitors and 97 click-throughs. How likely is it that this many people or more click through?

n_trials = 4326
prob = 0.02
click = stats.binom(n_trials, prob)

click.sf(96)

0.1397582363130086

In [19]:
# You are working on some statistics homework consisting of 100 questions where all of the answers are a probability rounded to the hundreths place. Looking to save time, you put down random probabilities as the answer to each question.

# What is the probability that at least one of your first 60 answers is correct?
n_trials = 60
prob = 0.1

stats.binom(n_trials, prob).sf(0)

0.9982029897000856

In [21]:
# The codeup staff tends to get upset when the student break area is not cleaned up. Suppose that there's a 3% chance that any one student cleans the break area when they visit it, and, on any given day, about 90% of the 3 active cohorts of 22 students visit the break area. How likely is it that the break area gets cleaned up each day? How likely is it that it goes two days without getting cleaned up? All week?

n_trials = .9 * 3 * 22
prob = .03
trips = stats.binom(n_trials, prob)

# How likely is it that the break area gets cleaned up each day? 53%
trips.sf(1)

# How likely is it that it goes two days without getting cleaned up? 26%
trips.sf(2)

# All week? 0.8%
trips.sf(5)

0.5317140258060139

In [44]:
# You want to get lunch at La Panaderia, but notice that the line is usually very long at lunchtime. After several weeks of careful observation, you notice that the average number of people in line when your lunch break starts is normally distributed with a mean of 15 and standard deviation of 3. If it takes 2 minutes for each person to order, and 10 minutes from ordering to getting your food, what is the likelihood that you have at least 15 minutes left to eat your food before you have to go back to class? Assume you have one hour for lunch, and ignore travel time to and from La Panaderia.

mean = 15
std_dev = 3

pana = stats.norm(15, 3)

# of max people in front of me
num = (60 - 17 - 10) / 2

pana.cdf(num)

0.6914624612740131

In [59]:
# Connect to the employees database and find the average salary of current employees, along with the standard deviation. For the following questions, calculate the answer based on modeling the employees salaries with a normal distribution defined by the calculated mean and standard deviation then compare this answer to the actual values present in the salaries dataset.

import pandas as pd 
import numpy as np
from env import host, username, password

def get_db_url(host, username, password, database):
    url = f'mysql+pymysql://{username}:{password}@{host}/{database}'
    return url

url = get_db_url(host, username, password, 'employees')

pd.read_sql('Select * from employees', url)

# What percent of employees earn less than 60,000?

# What percent of employees earn more than 95,000?
# What percent of employees earn between 65,000 and 80,000?
# # What do the top 5% of employees make?

        emp_no  birth_date first_name last_name gender   hire_date
0        10001  1953-09-02     Georgi   Facello      M  1986-06-26
1        10002  1964-06-02    Bezalel    Simmel      F  1985-11-21
2        10003  1959-12-03      Parto   Bamford      M  1986-08-28
3        10004  1954-05-01  Chirstian   Koblick      M  1986-12-01
4        10005  1955-01-21    Kyoichi  Maliniak      M  1989-09-12
...        ...         ...        ...       ...    ...         ...
300019  499995  1958-09-24     Dekang  Lichtner      F  1993-01-12
300020  499996  1953-03-07       Zito      Baaz      M  1990-09-27
300021  499997  1961-08-03    Berhard    Lenart      M  1986-04-21
300022  499998  1956-09-05   Patricia   Breugel      M  1993-10-13
300023  499999  1958-05-01     Sachin   Tsukuda      M  1997-11-30

[300024 rows x 6 columns]